<div class="starter-template">
    <h1>Wiki <i class="fa fa-code" aria-hidden="true"></i></h1>
      <h2 class="lead">Use this app to view internal documentation<br> and code snippets. Quickly start any new project.</h2>
      <p><%= link_to "View All Articles", articles_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>


