<div class="starter-template">
    <h1>Wiki <i class="fa fa-lightbulb-o" aria-hidden="true"></i></h1>
      <p class="lead">Use this app to view internal documentation<br> and code snippets. Quickly start any new project.</p>

      <p><%= link_to "Sign up or Log in" , "#", class: "btn btn-danger btn-lg" %></p>
</div>

