<div class="row">
    <% flash.each do | name, msg | %>
    <div align="center">
      <div class="alert alert-<%= name %>">
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%= msg %>
      </div>
    </div>
    <% end %>
</div>

